{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="about" id="about">
        <div class="container">
            <h3>{% trans 'KNOW ABOUT US' %}</h3>
            <span></span>
            <p>{% trans 'qvandares is a platform where you can book hotels, homes, and rooms in Cuba.' %}
                <a href="" class="qva-link"> {% trans 'Also' %}...</a> </p>
        </div>
    </div>
    <div class="about-bottom">
        <div class="col-md-6 about-bottom-left">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <div class="hotel-wrapper">
                        <img src="{% static 'images/hotels/panorama_6_2.jpg' %}" alt="">
                        <div class="info">
                            <div class="title">Hotel panorama <br>
                                <div class="stars">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </div>

                            <span class="price">$324</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-sm-6">
                    <div class="hotel-wrapper">
                        <img src="{% static 'images/hotels/hotel-3.jpg' %}" alt="">
                        <div class="info"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h4>THERE ARE MANY HOTELS TO CHOOSE</h4>
                    <p class="top">From hotels faced the white sands beaches, to others with a very beautiful panorama of Old Havana</p>
                    <div class="read-more">
                        <a href="#">FIND MORE<span></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 about-bottom-right">
            <img src="{% static 'images/hotels/hotel-nacional-de-cuba-1-1024x718.jpg' %}" alt="">
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="service">
        <div class="container">
            <h4>SERVICES WE PROVIDE</h4>
            <p>Volutpat wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent </p>
            <div class="service-grids">
                <div class="col-md-4">
                    <img src="{% static 'images/icon1.png' %}" alt="" />
                    <h5>CONSULTANCY</h5>
                    <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/icon2.png' %}" alt="" />
                    <h5>TRAVEL-TRIPS</h5>
                    <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/icon3.png' %}" alt="" />
                    <h5>REASERCH</h5>
                    <p>Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--info about cuba-->
    <div class="skills">
        <div class="container about">
            <h3 class="know-cuba">{% trans 'KNOW MORE ABOUT CUBA' %} <a href="#" class="qva-link">{% trans 'Learn More' %}</a></h3>

            <div class="row">
                <div class="col-md-3">
                   <div class="wrapper">
                    <h4>How many people live in Cuba</h4><hr>
                    <p>Cuban population is about 12.000.000 of citizens</p>
                       </div>
                </div>
                <div class="col-md-3">
                   <div class="wrapper">
                    <h4>Where is Cuba and what is its capital</h4><hr>
                    <p>Cuba is the largest island in the Caribbean zone. Havana is the cuban capital</p>
                    </div>
                </div>
                <div class="col-md-3">
                   <div class="wrapper">
                    <h4>Cuban currency</h4><hr>
                    <p>The currency of Cuba is the CUC and it's about 0.99 USD</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrapper">
                    <h4>Havana current weather</h4>
                    <div id="weather-plugin"><div id="weather"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//info about cuba-->
    <!--homes-rooms-destinations-->
    <div class="projects about" id="portfolio">
        <div class="container">
            <h3> {% trans 'BOOK A HOME/ROOM' %}</h3>
            <span></span>
            <p>{% trans 'See all our offers' %} <a href="#" class="qva-link">{% trans 'here' %}</a></p>
        </div>
    </div>
    <div class="project-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="hotel-wrapper home-wrapper">
                        <img src="{% static 'images/homes/2e024630a090875f767807320627b3dab8af4260.jpg' %}" alt="">
                        <div class="info">
                            <div class="title">Casa de jessica <br>
                                <div class="stars">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </div>

                            <span class="price">$24</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="hotel-wrapper home-wrapper">
                        <img src="{% static 'images/homes/9ad74ebcc3d83e86bcc0098026ed5e9f_L.jpg' %}" alt="">
                        <div class="info">
                            <div class="title">Casa de adrian <br>
                                <div class="stars">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </div>
                            <span class="price">$54</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="hotel-wrapper home-wrapper">
                        <a href="#">
                        <img src="{% static 'images/homes/me4.jpg' %}" alt="">
                        <div class="info">
                            <div class="title">Casa del cesped verde <br>
                            <span class="place">Private room - 2 beds</span><br>
                            <div class="stars">
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                            </div></div>
                            <span class="price">$74</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-portfolio">
            <div class="container">
                <h4>{% trans 'PLACES TO VISIT' %}</h4>
                <p>{% trans 'Discover all things you can do. These are the top destinations.' %}</p>
                <a href="#">{% trans 'Sell all' %}</a>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="hotel-wrapper home-wrapper">
                        <img src="{% static 'images/vinales/vinales-valley-200768_640x426.jpg' %}" alt="">
                        <div class="info">
                            <div class="title">Viñales<br>
                                <div class="stars">
                                    100+ Hotels, 120+ homes
                                </div>
                            </div>

                            <span class="price">10 tours</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="hotel-wrapper home-wrapper">
                        <img src="{% static 'images/banners/havana-3.jpg' %}" alt="">
                        <div class="info">
                            <div class="title">Havana<br>
                                <div class="stars">
                                    200+ Hotels, 500+ Homes
                                </div>
                            </div>
                            <span class="price">54 tours</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="hotel-wrapper home-wrapper">
                        <a href="#">
                        <img src="{% static 'images/varadero/vacaciones-en-varadero-5256.jpg' %}" alt="">
                        <div class="info">
                            <div class="title">Varadero <br>
                            <div class="stars">
                                300+ Hotels, 150+ Homes
                            </div></div>
                            <span class="price">100 tours</span>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sea-all read-more">
            <a href="#">{% trans 'SEE ALL' %}<span></span></a>
        </div>
    </div>
    <!--//homes-rooms-destinations-->
    <!--tours-->
    <div class="team" id="team">
        <div class="container">
            <div class="about">
                <h3>{% trans 'OUR FEATURED TOURS' %}</h3>
                <span></span>
                <p>{% trans 'Make your trip an unforgettable experience' %}</p>
            </div>
            <div class="team-grids">
                <div class="col-md-4">
                  <a href="#">
                   <div class="tour-wrapper">
                    <img src="{% static 'images/tours/681013_201605061851110000001.jpg' %}" alt="" />
                    <div class="team-grids-text">
                        <h3>ALMENDRON TOUR</h3>
                        <p>Una descripcion corta de lo que es el tour, tratar que incluya dos lineas</p>
                        <h5>$36 per person</h5>
                    </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                   <div class="tour-wrapper">
                    <img src="{% static 'images/tours/habana-coche.jpg' %}" alt="" />
                    <div class="team-grids-text">
                        <h3>HISTORY WALK</h3>
                        <p>Una descripcion corta de lo que es el tour, tratar que incluya dos lineas</p>
                        <h5>$41 per person</h5>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="tour-wrapper">
                    <img src="{% static 'images/tours/no-room1-755x490.jpg' %}" alt="" />
                    <div class="team-grids-text">
                        <h3>FAST AND FOURIOS</h3>
                        <p>Una descripcion corta de lo que es el tour, tratar que incluya dos lineas</p>
                        <h5>$56 per person</h5>
                    </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//tours-->

    <!--blog-->
    <div class="blog" id="blog">
        <div class="container">
            <div class="about">
                <h3>{% trans 'ARTICLES' %}</h3>
                <span> </span>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim </p>
            </div>
            <div class="blog-grids">
                <div class="blog-grids-left">
                    <!-- banner-text Slider starts Here -->
                    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
                    <script>
                        // You can also use "$(window).load(function() {"
                        $(function() {
                            // Slideshow 4
                            $("#slider4").responsiveSlides({
                                auto: true,
                                pager: true,
                                nav: true,
                                speed: 500,
                                namespace: "callbacks",
                                before: function() {
                                    $('.events').append("<li>before event fired.</li>");
                                },
                                after: function() {
                                    $('.events').append("<li>after event fired.</li>");
                                }
                            });
                        });
                    </script>
                    <!--//End-slider-script -->
                    <div id="top" class="callbacks_container">
                        <ul class="rslides" id="slider4">
                            <li>
                                <img src="{% static 'images/img8.jpg' %}" alt="" />
                            </li>
                            <li>
                                <img src="{% static 'images/img9.jpg' %}" alt="" />
                            </li>
                            <li>
                                <img src="{% static 'images/img10.jpg' %}" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-grids-right">
                    <span>10 April 2014</span>
                    <h4><a href="#">Typi non habent claritatem insitam </a></h4>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui <a href="#" class="bracket">[...]</a></p>
                </div>
                <div class="clearfix"> </div>
                <div class="caption-imag">
                    <div class="round-shape">
                        <p>a</p>
                    </div>
                </div>
            </div>
            <div class="blog-grids">
                <div class="blog-grids-left lt-text">
                    <span>20 March 2014</span>
                    <h4><a href="#">Typi non habent claritatem insitam </a></h4>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui <a href="#" class="bracket">[...]</a></p>
                </div>
                <div class="blog-grids-right rt-img">
                    <a href="#"><img src="{% static 'images/img11.jpg' %}" alt=""/></a>
                </div>
                <div class="clearfix"> </div>
                <div class="caption-imag">
                    <div class="round-shape">
                        <p>a</p>
                    </div>
                </div>
            </div>
            <div class="blog-grids">
                <div class="blog-grids-left">
                    <a href="#"><img src="{% static 'images/img12.jpg' %}" alt=""/></a>
                </div>
                <div class="blog-grids-right">
                    <span>10 January 2014</span>
                    <h4><a href="#">Typi non habent claritatem insitam </a></h4>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui <a href="#" class="bracket">[...]</a> </p>
                </div>
                <div class="clearfix"> </div>
                <div class="caption-imag">
                    <div class="round-shape">
                        <p>a</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//blog-->
    <!--contact-->
    <div class="contact">
        <div class="container" id="contact">
            <h3>{% trans 'CONTACT' %}</h3>
            <form>
                <input type="text" placeholder="{% trans 'Name' %}" required="">
                <input type="email" placeholder="Email" required="">
                <textarea type="text" required="" placeholder="{% trans 'Message' %}..."></textarea>
                <input type="submit" value="{% trans 'Submit' %}">
            </form>
        </div>
    </div>
    <!--//contact-->
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#booking-datepicker').datepicker({
                language: 'en',
                minDate: new Date(), // Now can select only dates, which goes after today
                range: true,
                multipleDatesSeparator: " through "
            });
            $.simpleWeather({
                location: 'Havana, CU',
                woeid: '',
                unit: 'c',
                success: function(weather) {
                    html = '<h2><i class="icon-' + weather.code + '"></i> ' + weather.temp + '&deg;' + weather.units.temp + '</h2>';
                    html += '<p class="currently">'+ weather.currently +'</p>'
//                    html += '<ul><li>' + weather.city + ', ' + weather.region + '</li>';
//                    html += '<li class="currently">' + weather.currently + '</li>';
//                    html += '<li>' + weather.wind.direction + ' ' + weather.wind.speed + ' ' + weather.units.speed + '</li></ul>';

                    $("#weather").html(html);
                },
                error: function(error) {
                    $("#weather").html('<p>' + error + '</p>');
                }
            });
        });
    </script>
{% endblock %}