{% load static %}
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'libs/air-datepicker/datepicker.min.js' %}"></script>
<script src="{% static 'libs/air-datepicker/i18n/datepicker.en.js' %}"></script>
<script src="{% static 'libs/jquery.simpleWeather.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'libs/waypoints/jquery.waypoints.js' %}"></script>
<script src="{% static 'libs/waypoints/infinite.min.js' %}"></script>
{#    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>#}
