{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load currency %}
{#{% block title %}{{ title }} {% endblock %}#}
{% block inside_header %}
    {# sobreescribir el bloque para quitar este contenido, o usar el espacio para captar atencion #}
{% endblock %}
{% block content %}
    <!--  titulo  -->
    <div class="container">
        <div class="about">
            <div class="container">
                <h3>{{ home.name }}</h3>
                <p class="home-price">{% trans 'from' %} {{ home.price|set_currency:request }} {% trans 'per night' %}</p>
            </div>
            <div class="container-fluid">
                <div class="row main-book-form single-home-book">
                    <div class="col-md-6">
                        <label for="input-datepicker">{% trans 'Check-in and Check-out' %}</label>
                        <input type="text" class="input-datepicker" id="booking-datepicker"
                               placeholder="{% trans 'Check-in and Check-out' %}">
                    </div>
                    <div class="col-md-2">
                        <label for="cant-adults">Adults</label>
                        <input type="text" id="cant-adults" placeholder="Adults">
                        <div><i class="ti-plus up-down-people"></i><i class="ti-minus up-down-people"></i></div>
                    </div>
                    <div class="col-md-2">
                        <label for="cant-children">Children 0-12</label>
                        <input type="text" id="cant-children" placeholder="Children 0-12">
                        <div><i class="ti-plus up-down-people"></i><i class="ti-minus up-down-people"></i></div>
                    </div>
                    <div class="col-md-2 book-btn">
                        <div class="download">
                            <a href="#"><i class="book-pricing">$244</i>
                                <br> {% trans 'Book now' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--  //titulo  -->
    <!--  gallery & book form  -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div id="gallery">
                    <img alt="{{ home.name }} - main photo" src="{{ home.main_photo.thumbnail.url }}"
                         data-image="{{ home.main_photo.original.url }}">
                    {% for photo in home.photos.all %}
                        <img alt="{{ home.name }} - photos" src="{{ photo.thumbnail.url }}"
                             data-image="{{ photo.original.url }}">
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-6">
                <h3>{% trans 'Description' %}</h3>
                <p>{{ home.description }}</p>
                <h3>{% trans 'Amenities' %}</h3>
                <div class="amenities">
                    <div class="item-amenity">
                        {% for amenity in basic_amenities %}
                            <span>{{ amenity }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <span class="show-more-amenities" id="show-more-amenities"><i class="ti-plus"></i> more</span>
                    <span class="show-more-amenities" id="show-less-amenities"><i class="ti-minus"></i> less</span>
                    <div id="no-essential-amenities" class="item-amenity">
                        {% for amenity in secondary_amenities %}
                            <span>{{ amenity }}</span>
                        {% endfor %}
                    </div>
                </div>
                <h3>Nearby places</h3>
                <ul>
                    <li>place one</li>
                    <li>place two</li>
                    <li>place three</li>
                    <li>place four</li>
                </ul>
                <h3>{% trans "Home's rules" %}</h3>
                <p>{{ home.house_rules }}</p>
            </div>
        </div>
    </div>
    <!--  //gallery & book form  -->
    <!--  similares places  -->
    <div class="container">
        <h2>{% trans 'SIMILARES PLACES' %}</h2>
        <div class="row">
            {% for similar in home.similares %}
                <div class="col-md-4 col-sm-4">
                {% include 'homes/includes/home.html' with height="300px" %}
            </div>
            {% endfor %}
        </div>
    </div>
    <!--  //smilares places      -->
    <!--clients-->
    <div class="our-clients">
        <div class="container">
            <!-- banner-text Slider starts Here -->
            <!--//End-slider-script -->
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <h4>WHAT OUR CLIENTS ARE SAYING</h4>
                        <p>“It was a pleasure to work with Imran. He is very dedicated and professional. He worked very
                            hard to satisfy our requirements and the communication was great .”</p>
                        <span>John Doe</span>
                        <a href="#">www.yourwebsite.zt</a>
                    </li>
                    <li>
                        <h4>OUR CLIENTS ARE SAYING WHAT</h4>
                        <p>“It was a pleasure to work with Imran. He is very dedicated and professional. He worked very
                            hard to satisfy our requirements and the communication was great .”</p>
                        <span>Doe John</span>
                        <a href="#">www.yourwebsite.zt</a>
                    </li>
                    <li>
                        <h4>COMMENTS OF OUR CLIENTS</h4>
                        <p>“It was a pleasure to work with Imran. He worked very hard to satisfy our requirements and
                            the communication was great . He is very dedicated and professional. ”</p>
                        <span>MR.John Doe</span>
                        <a href="#">www.yourwebsite.zt</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//clients-->

    <!--contact-->
    <div class="contact">
        <div class="container" id="contact">
            <h3>LET A COMMENT</h3>
            <form>
                <input type="text" placeholder="Name" required="">
                <input type="email" placeholder="Email" required="">
                <textarea type="text" required="" placeholder="Message..."></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <!--//contact-->
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
            $('#booking-datepicker').datepicker({
                language: 'en',
                minDate: new Date(), // Now can select only dates, which goes after today
                range: true,
                multipleDatesSeparator: " - "
            });
            var $gallery = $("#gallery").unitegallery({
                gallery_skin: "alexis",
                gallery_play_interval: 5000,
                gallery_width: "100%"
            });
            $gallery.play();
            var $noEssentialAmenities = $("div#no-essential-amenities");
            var showMoreAmenities = $("#show-more-amenities");
            var showLessAmenities = $("#show-less-amenities");
            showMoreAmenities.click(function () {
                $noEssentialAmenities.css("visibility", "visible");
                showLessAmenities.css("display", "block");
                showMoreAmenities.css("display", "none");
            });
            showLessAmenities.click(function () {
                $noEssentialAmenities.css("visibility", "hidden");
                showLessAmenities.css("display", "none");
                showMoreAmenities.css("display", "block");
            })
        })
    </script>
{% endblock %}