{% extends 'base.html' %}
{% load i18n %}
{#{% block title %}{{ title }} {% endblock %}#}
{% block inside_header %}
    {# sobreescribir el bloque para quitar este contenido, o usar el espacio para captar atencion #}
{% endblock %}
{% block content %}
    <h1>{{ meta.title }}</h1>
    <div class="main-book-form homes-filter container-fluid">
        <form method="get">
            <div class="container-fluid">
                <div class="col-md-2">
                    <label for="cant-adults">{% trans "Guests" %}</label>
                    <input type="number" min="1" name="cant_adults" id="cant-adults" placeholder="Adults"
                           value="{{ cant_adults }}">
                    <input type="number" min="0" name="cant_children" id="cant-children" placeholder="Children 2-12">
                </div>
                <div class="col-md-2">
                    <label for="price">{% trans "Price" %}</label>
                    <input type="number" min="1" name="min_price" id="price" placeholder="min" value="{{ min_price }}">
                    <input type="number" min="1" name="max_price" placeholder="max" value="{{ max_price }}">
                </div>
                <div class="col-md-3">
                    <label for="destination">{% trans "Destination" %}</label>
                    <input type="text" name="destination" id="destination" placeholder="Try Old Havana">
                </div>
                <div class="col-md-3 filter-checkbok">
                    <p class="checkbox-label">{% trans "Room type" %}</p>
                    <p><input type="checkbox" name="entire_room" id="room-type" value="Entire home">Entire home</p>
                    <p><input type="checkbox" name="shared_room" id="room-type" value="Shared room">Shared room</p>
                    <p><input type="checkbox" name="private_room" id="room-type" value="Private room">Private room</p>
                </div>
                <div class="col-md-2 book-btn">
                    <div class="download">
                        {#  todo estilizar este submit, si no se deja como link y se coge el evento con jq #}
                        <input type="submit" value="{% trans 'Start searching' %}">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="container-fluid">
        <div id="homes-list" class="infinite-container">
            {% include 'homes/includes/list.html' %}
        </div>
        {% if homes.has_next %}
            <a class="infinite-more-link" href="?page={{ homes.next_page_number }}">More</a>
        {% endif %}
{#  todo comprobar y estilizar este loading  #}
        <div class="loading" style="display: none;">
            Loading...
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.loading').show();
                },
                onAfterPageLoad: function ($items) {
                    $('.loading').hide();
                }
            });
        })
    </script>
{% endblock %}