{% load static %}
{% load i18n %}
<div class="container">
    {% for home in homes %}
        <div class="col-md-6">
            <div class="hotel-wrapper home-wrapper">
                <a href="#">
                    <img src="{{ home.main_photo.thumbnail.url }}" alt="">
                    <div class="info">
                        <div class="title">{{ home.name }}<br>
                            <span class="place">Private room - {{ home.beds }} beds</span><br>
                            <div class="stars">
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                            </div>
                        </div>
                        <span class="price">$74</span>
                    </div>
                </a>
            </div>

        </div>
    {% endfor %}
</div>
