{% load static %}
{% load i18n %}
<div class="row infinite-item">
    {% for home in homes %}
        <div class="col-md-6 col-lg-4">
            <div class="home hotel-wrapper home-wrapper">
                <a href="{{ home.get_absolute_url }}">
                    <img src="{{ home.main_photo.thumbnail.url }}" alt="" style="height: 350px">
                    <div class="info">
                        <div class="title">{{ home.name }}<br>
                            <span class="place">Private room - {{ home.beds }} beds</span><br>
                            <div class="stars">
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                            </div>
                        </div>
                        <span class="price">${{ home.price }}</span>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{#    {% for home in homes %}#}
{#      <div class="infinite-item">{{ home }}</div>#}
{#    {% endfor %}#}
